
{% extends "base.html" %}
{% load transform %}
{% block content %}

<div class="span9">

				<h1 class="page-title">
					<i class="icon-th-large"></i>
					费用分类
				</h1>

				<div class="row">

					<div class="span5">

						<div class="widget">

							<div class="widget-content">

								<h3><a href="/course/detail/1" style="font-weight: 600;color: #F90;">周五班</a></h3>

								<p>孩子从幼儿园进入小学学习，是他们成长中的一件大事。如何帮助他们了解小学，正确认识小学生活，迅速进入小学生的角色，是每个家长都困惑的问题。金太阳学前教育班以提高孩子的适应力，独立性，行为规范，人际交往等情商能力，以及培养孩子的快乐阅读，思维想象，英语口语，拼音识字等智力能力而著称。 </p>

								<p>紧扣一年级新课程，根据幼儿的个体差异，因材施教，充分挖掘幼儿内在潜力，让孩子在轻松愉快的氛围下学习、活动，更好的由幼儿园</p>
							</div> <!-- /widget-content -->

						</div> <!-- /widget -->

					</div> <!-- /span5 -->



					<div class="span4">

						<div class="widget">

							<div class="widget-content">

								<h3><a href="/course/detail/2 " style="font-weight: 600;color: #F90;">晚托班</a></h3>

								<p>汉语拼音是学习语文的重要环节，也是小学生打开知识大门的金钥匙，是迈向科学高峰的阶梯。汉语拼音学的好与坏对于孩子日后的学习起着很大的作用。学习拼音的好处：一是有助于识字，二是帮助阅读，三是快速查字典，四是学好普通话。快乐拼音课程是由浅入深，循序渐进的阶梯教程。</p>

								<p>通过系统学习拼音课程，幼儿能够迅速掌握并运用拼音这门语言工具，以达到自主识字及自主阅读。</p>
							</div> <!-- /widget-content -->

						</div> <!-- /widget -->

					</div> <!-- /span4 -->

				</div> <!-- /row -->




				<div class="row">

					<div class="span3">

						<div class="widget">

							<div class="widget-content">

								<h3><a href="/course/detail/3" style="font-weight: 600;color: #F90;">学前班（拼音）</a></h3>

								<p>从零开始，针对毫无基础的学员，或发音不准想纠正自己发音的学员，重点讲解26个字母、48个国际音标（含元音、辅音），为你的发音纠音、正音，为日后的流利听说打下良好的基础。</p>

								<p>准确、流利、漂亮的语音是口语的基础，也是真正提高英语听力的关键，更是增加学习者自信心和兴趣的法宝！</p>
							</div> <!-- /widget-content -->

						</div> <!-- /widget -->

					</div> <!-- /span3 -->


					<div class="span3">

						<div class="widget">


							<div class="widget-content">

								<h3><a href="/course/detail/4" style="font-weight: 600;color: #F90;">学前班（综合）</a></h3>

								<p>兴趣激发能促成爱美之心，能美梦成真。儿童画分为基础班和提高班，对应小学低年龄特征，从趣味、幽然、拟人出发，涉及人文、自然……</p>

								<p>妙趣横生、美姿 美色、学生在画中增知添乐，为日后美术深入打下扎实快乐的基础。</p>
							</div> <!-- /widget-content -->

						</div> <!-- /widget -->

					</div> <!-- /span3 -->


					<div class="span3">

						<div class="widget">

							<div class="widget-content">

								<h3><a href="/course/detail/5" style="font-weight: 600;color: #F90;">学前班（各类素质）</a></h3>

								<p>书法艺术源远流长，代表了中华民族的悠久文化。文字是一种符号，更是一种象征。研习书法有助于加深对民族文化的认识，</p>

								<p>更致力于修身养性，提高文化底蕴。书法作为国学的一门，也越来越受到青少年的青睐，成为现今最流行的古典艺术学科。</p>
							</div> <!-- /widget-content -->

						</div> <!-- /widget -->

					</div> <!-- /span3 -->

				</div> <!-- /row -->

				<div class="row">

					<div class="span3">

						<div class="widget">

							<div class="widget-content">

								<h3><a href="/course/detail/6" style="font-weight: 600;color: #F90;">周六小学学科班</a></h3>

								<p>助飞机器人爱好者俱乐部杨浦教学点成立于2010年，由杨浦区金太阳教育培训中心负责日常管理，</p>

								<p>助飞机器人爱好者俱乐部负责教学管理。为了能够将机器人活动带给更多的学生，欢迎广大的青少年机器人爱好者前来咨询和报名。</p>
							</div> <!-- /widget-content -->

						</div> <!-- /widget -->

					</div> <!-- /span5 -->

					<div class="span3">

						<div class="widget">

							<div class="widget-content">

								<h3><a href="/course/detail/8" style="font-weight: 600;color: #F90;">班主任</a></h3>

								<p>围棋是由中国人发明的，距今已有三千多年的历史，是东方文化的代表。围棋传授给孩子的是知识、文化、习惯、品质、思想、追求……而决不仅仅是围棋的技艺。</p>
							</div> <!-- /widget-content -->

						</div> <!-- /widget -->

					</div> <!-- /span4 -->

					<div class="span3">

						<div class="widget">

							<div class="widget-content">

								<h3><a href="/course/detail/7" style="font-weight: 600;color: #F90;">其他外聘管理</a></h3>

								<p>空手道是一项起源于中国，发展于日本的一项武术运动，其比赛分为套路（型）和格斗赛（组手）两种。现在在中国逐渐变成一项热门的运动。初学者以型为基本功练习，后期则接触组手练习，全面接触和理解空手道。</p>
							</div> <!-- /widget-content -->

						</div> <!-- /widget -->

					</div> <!-- /span4 -->

				</div> <!-- /row -->







			</div> <!-- /span9 -->
<script>
	$('#course').attr("class", "active");
</script>

{% endblock %}


