<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师列表</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>是否全职</th>
        </tr>
    </thead>
    <tbody>
        {% for teacher in teacherlist %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.name }}</td>
                <td>{{ teacher.isFullTime }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>